@media (width < 376px) {
  .card__icon-button {
    padding: 0px;
    width: 39px;
    height: 38px;
    border: none;
  }

  .card__save_memory-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 100px auto;
    background-color: #fff;
    padding: 13.5px 21px 13.5px 19px;
  }

  .icon__floppy {
    display: block;
    width: 29px;
    height: 29px;
    margin-inline-end: 0px;
    margin-block-start: 0px;
    margin-block-end: 8px;
  }
}
